*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth; /* esto da un efecto al navegar por la pagina */
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden; /* para ocul6tar todo lo que salga del contenedor */
    margin: auto; /* para centrar todo*/
    padding: 60px 0; /* para tener espaciado entre elementos */

}
header{
    height: 100vh; /*para que ocupe todo el espacio*/
    background-image: linear-gradient(120deg, rgba(52, 60, 71, 0.4) 0%, rgba(139, 166, 179, 0.4) 100%), url(../img/siete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Evitamos que los textos se peguen uno abajo de otro */
    color: #fff;
}

.menu{
    position: fixed; /* fijo en toda la pagina */
    /* z-index: 10; */
    top: 30px;
    left: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer; /* para que se ponga la manita */
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    left: 0; /* Menu fijado a la derecha */
    width: 30vw;
    height: 100%;
    background-color: #1c152c; 
    background-image: linear-gradient(to right, #434343 0%, #1c152c 100%);
    display: flex;
    flex-direction: column; /* Letras en columna */
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s initial;
    transform: translate(1110%);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Subtitulo */

.subtitulo{
    text-align: center;
    font-weight: bold;
    color: #04010a;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-wrap: wrap; /* Si un elemento no babe lo baja ala siguiente linea */
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #07040f;
}

.number{
    display: inline-block;
    width: 30px;
    background: linear-gradient(to bottom, rgba(28, 21, 44) 0%, rgba(158, 143, 143, 0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(28, 21, 44) 120%) #1c152c; 
    background-blend-mode: multiply,multiply;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 30;
    color: #fff;
    text-align: center;
    border-radius: 50%; /* Redondea bordes */
    font-weight: 700;
    line-height: 30px; /* para centrar verticalmente igual */
    margin-right: 5px;
}

.galeria{
    background: rgba(242, 242, 242, 0.30);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.imagen-ligera{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.expert{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    margin: block;
    font-weight: 400;
}

/* Footer */
footer{
    background: #1c152c;
    padding-bottom: 0.1;   
}

.footer-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 40px;
}

.contactanos{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
  width: 50%;
  display: flex; /* reparte iconos equitativamente */
  justify-content: flex-end; 
}

.social-media-a{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

/* al pasar el mouse */
.social-media-a:hover{
    background: #fff;
    color: #764ba2;
}

.social-media-a i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-expert{
       width: 80%; 
    }

    .footer-contenedor{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-a{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }

    .contactanos{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;

    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }

    .contactanos{
        width: 90%;
    }

}